@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@300&display=swap');
/*font-family: 'Coiny', cursive;
font-family: 'Coiny', cursive;
font-family: 'Poppins', sans-serif;

*/
body{
    
    color: #434343;
    font-family: 'Coiny cursive;;
}
.container{
    display: flex;
    margin-top: 20px;
}

.flex-left{
    justify-content: flex-start;
    width: auto;
}

.flex-center{
    align-items: flex-center;
    
    width: auto
}

/* Barra de navegação
-----------------------------*/
#nav-target{
    justify-content: center;
    border: 1px solid red;
}

#carouselExampleIndicators {
    max-width:1430px;  
}


