@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
/*font-family: 'Coiny', cursive;
font-family: 'Coiny', cursive;
font-family: 'Poppins', sans-serif;

*/
h1{
    font-family: 'Coiny', cursive;
    
    color:#249ab4;
    font-size:50px;
}

/* Barra de navegação
-----------------------------*/
#nav-target{
    justify-content: center;
    display: flex;
    align-items: flex-center;
}

ul>li{
    margin-right: 50px;
}

nav{
    background-color: #fddada;
    color:#434343;
    font-family: 'Coiny';
}


/* Banner
-----------------------------*/
#carouselExampleIndicators {
    width: auto;  
}

/*Sobre Nos
-----------------------------*/
#sobre-nos{
    height: 400px;
    background-color: white;
    border: 1px solid red;
}
#sobre-nos-imagem{
    background-image: url(../img/sobre-nos.png);
    background-repeat: no-repeat;
    width: 400;
    border: 1px solid red;
    
}
p{
    font-family: 'Poppins', sans-serif;
    color:#434343;
    font-size: xx-large;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.titulo {
    justify-content: left;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
