.mosquito1 {
	width: 60px;
	height: 60px;
}

.mosquito2 {
	width: 80px;
	height: 80px;
}

.mosquito3 {
	width: 95px;
	height: 95px;
}


.ladoA{
	transform: scaleX(1);/*posição original*/
}

.ladoB{
	transform: scaleX(-1);
}